<!-- <div>
	名称：<input type="text" ng-model="vm.name" />
<hr/>
Hello, {{vm.name}}
</div> -->
<!-- 
<div>
	<ion-side-menu-content>
	  <ion-header-bar class="bar-dark">
	    <h1 class="title">Todo</h1>
	  </ion-header-bar>
	  <ion-content>
	    our list and list items
	    <ion-list>
	      <ion-item ng-repeat="task in vm.tasks">
	        {{task.title}}
	      </ion-item>
	    </ion-list>
	  </ion-content>
	</ion-side-menu-content>
 </div> -->

<!--<h1>Sign Up</h1>-->
<!--<form name="addUserForm">-->
	<!--<div ng-show="vm.message">{{vm.message}}</div>-->
	<!--<div>Fist Name:<input name="firstname" ng-model="vm.user.firstName" required focus>-->
        <!--<span>{{vm.user.firstName | myfilter}}</span>-->
    <!--</div>-->
	<!--<div>Last Name:<input name="lastName" ng-model="vm.user.lastName" required></div>-->
	<!--<div>Email:<input type="email" ng-model="vm.user.email" required></div>-->
	<!--<div width="80%">Age:<input name="age" type="number" ng-model="vm.user.age" ng-maxlength="3" ng-minlength="1" >-->

    <!--</div>-->
    <!--<div><span class="error" ng-show="addUserForm.age.$error.maxlength">Too loong!</span></div>-->
	<!--<div><button ng-click="vm.addUser()" ng-disabled="!addUserForm.$valid">Submit</button></div>-->
<!--</form>-->
<div>
    <input id="datepicker" datepicker ng-model="currentDate" select="updateMyText(date)" width="100px">
    <br />
    {{myText}} - {{currentDate}}
</div>
